# ========================================
*.uproject linguist-language=UnrealScript
*.uasset linguist-language=UnrealScript
*.umap linguist-language=UnrealScript
# ========================================